
body {
    background-color: salmon;
  }
  
  label {
    color: skyblue;
  }
  
  input[type="text"] {
    border: 1px solid green;
  }
  
  input[type="email"] {
    background-color: blue;
    color: white;
  }
  
  input[type="submit"] {
    background-color: green;
    color: white;
  }
  
  
